<div class="container">
    <div class="row mx-auto text-center">
        <h2 class="h2">Let the battle begin!</h2>
    </div>
    <div class="row">
        <div class="col-6 mx-auto text-center">
            <h2 class="h2"> {{monster.name}} vs {{character.name}}</h2>
        </div>
        
    </div>
    <div class="row mx-auto justify-content-center">
        <div class="col-4" id="monster" data-hp="{{monster.hitpoints}}" data-attack="{{monster.attack}}">
            <img src="../images/{{monster.id}}.png" alt="{{monster.name}}" class="img-fluid rounded" style="max-height: 500px; max-width: 250px border: 3px solid white;">
            <p id="monster-action">Monster is looking at you menancingly</p>
        </div>
        <div class="col-4"></div>
        <div class="col-4" id="player" data-hp="{{character.hitpoints}}" data-attack="{{character.attack}}">
            {{>battle-character}}
        <br>
            <button class="btn btn-primary player-action" data-action="attack">Attack</button>
            <button class="btn btn-primary player-action" data-action="parry">Parry</button>
            <button class="btn btn-primary player-action" data-action="potion">Potion</button>
        </div>
    </div>
    {{!-- <div class="row">
        <div class="col-3 mx-auto text-left">
            <button class="btn btn-primary" type="submit">Play Again</button>
        </div>
        <div class="col-3 mx-auto text-left">
            <button class="btn btn-primary" type="submit">Exit</button>
        </div>
    </div> --}}
</div>
<script src="/js/battle.js"></script>