<div class="row justify-content-center">
  <div class="col-auto">
    <h2>Welcome back {{username}}!</h2>
    <h3>Choose your character:</h3>
  </div>
</div>
{{#each characters}}
<div class="row justify-content-center bg-dark bg-opacity-50 shadow rounded w-auto align-items-center p-2 m-1">
  <div class="col-auto">
    {{>player-character}}
  </div>
  <div class="col-auto">
    <div class="row">
      <div class="col-auto">
        <p>Name: {{name}}</p>
        <p>Hitpoints: {{hitpoints}}</p>
        <p>Attack: {{attack}}</p>
      </div>
      <div class="col-auto">
        <p>Experience: {{experience}}</p>
        <p>Level: {{level}}</p>
        <p>Gold: {{gold}}</p>
      </div>
    </div>
    <div class="row">
      <div class="btn-group col-6" role="group">
        <button type="button" class="btn btn-primary choice-btn" data-id="{{id}}" data-user="{{user_id}}">Select</button>
      </div>
      <div class="btn-group col-6" role="group">
        <button type="button" class="btn btn-danger delete-btn" data-id="{{id}}" data-user="{{user_id}}">Delete</button>
      </div>      
    </div>
  </div>
</div>
{{/each}}
<div class="row justify-content-center bg-dark bg-opacity-50 shadow rounded w-auto align-items-center p-2 mt-1">
  <div class="col-auto form-group">
    <label for="character-name">Create a generic Character, just choose a Name</label>
    <input class="form-input" type="text" id="new-char-input"/>
    <button type="button" class="btn btn-primary" id="new-char" data-user="{{userId}}">Create new character</button>
  </div>
</div>
<div class="row justify-content-center bg-dark bg-opacity-50 shadow rounded w-auto align-items-center p-2">
  <div class="col-auto form-group">
    <button type="button" class="btn btn-primary" id="custom-char" data-user="{{userId}}">Customize a new character</button>
  </div>
</div>
<br>
<div class="row justify-content-center ">
  <div class="col-2">
      <button type="button" class="btn btn-danger" id="delete-account" data-user="{{userId}}">Delete your account</button>
  </div>
</div>

<script src="/js/selectChar.js"></script>
