<div class="row justify-content-center">
  <div class="col-auto">
    <h2>Welcome back {{username}}!</h2>
    <h3>Choose your character:</h3>
  </div>
</div>
{{#each characters}}
<div class="row justify-content-center">
  <div class="col-auto">
    {{>player-character}}
  </div>
  <div class="col-auto">
    <div class="row">
      <div class="col-auto">
        <p>Name: {{name}}</p>
        <p>Hitpoints: {{hitpoints}}</p>
        <p>Attack: {{attack}}</p>
      </div>
      <div class="col-auto">
        <p>Experience: {{experience}}</p>
        <p>Level: {{level}}</p>
        <p>Gold: {{gold}}</p>
      </div>
      <div class="btn-group" role="group">
      <button type="button" class="btn btn-primary choice-btn" data-id="{{id}}" data-user="{{user_id}}">Select</button>
      <button type="button" class="btn btn-danger delete-btn" data-id="{{id}}" data-user="{{user_id}}">Delete</button>
      </div>
    </div>
  </div>
</div>
{{/each}}
<div class="row justify-content-center">
  <div class="col-auto form-group">
    <label for="username-login">Name</label>
    <input class="form-input" type="text" id="new-char-input"/>
    <button type="button" class="btn btn-primary" id="new-char" data-user="{{userId}}">Create new character</button>
  </div>
</div>

<script src="/js/selectChar.js"></script>
