<div class="container">
    <div class="row">
        <h1>Welcome Home!</h1>
    </div>
<div class="col-md-6 mx-auto text-left">
    <p>Character: {{{Character}}}</p>
    <p>Features: {{{Features}}}</p>  
    <p>Wins: {{{Wins}}}</p>
    <p>Strength level: {{{points}}}</p>
    <p>Potions {{{character-potions}}}</p>
</div>
<div class="col-md-6 mx-auto text-left">
    <p>Character: {{{Character}}}</p>
    <p>Features: {{{Features}}}</p>  
    <p>Wins: {{{Wins}}}</p>
    <p>Strength level: {{{points}}}</p>
    <p>Potions {{{character-potions}}}</p>
</div>
<div class="row text-center">
<button>Battles {{{Battles}}}</button>
</div>
</div>