<div class="container">
    <div class="row">
        <h2 class="text-center mt-4 mb-4" style="color: #4CAF50;">Monster Selection</h2>
    </div>
    {{#each monsters}}
   <div class="row monster-row mb-4 p-4 rounded shadow" style="background: linear-gradient(135deg, rgba(110, 72, 170, 0.6), rgba(157, 80, 187, 0.6)); backdrop-filter: blur(5px); transition: transform 0.3s; color: white;">
    <div class="col-lg-6 col-md-12">
            <div class="row">
                <div class="col-12 text-center">
                    <img src="../images/{{this.id}}.png" alt="{{this.name}}" class="img-fluid rounded" style="max-height: 250px; border: 3px solid white;">
                </div>
            </div>
            <div class="row mt-3">
                <div class="col-12">
                    <h3>{{this.name}}</h3>
                    <p class="font-size-lg"><strong>Hitpoints:</strong> <span>{{this.hitpoints}}</span></p>
                    <p class="font-size-lg"><strong>Attack:</strong> <span>{{this.attack}}</span></p>
                    <p class="font-size-lg"><strong>Level:</strong> <span>{{this.level}}</span></p>
                    <p class="font-size-lg"><strong>Gold:</strong> <span>{{this.gold}}</span></p>
                    <p>{{this.description}}</p>
                </div>
            </div>
        </div>
        <div class="col-lg-6 col-md-12 d-flex align-items-center justify-content-center">
            <div class="text-center">
                <button class="btn btn-warning btn-lg mb-3 animated-button" type="submit">Fight</button>
            </div>
        </div>
    </div>
    {{/each}}
</div>
